.container {

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr 0.7fr;
    grid-template-areas:    
       "header header"
         "sidebar main"
            "footer footer"

            ;
}


.header {
    grid-column: 1/3;
    grid-row:1/2;
    background-color: maroon;
}

.sub-header {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: blue;
}

.top-column {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: seagreen;
}

.sidebar {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: seagreen;
}

.center-main {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: seagreen;
}

.footer {
    grid-column: 1/8;
    grid-row:3/4;
    background-color: goldenrod;
}



